@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

:root {
    --laranja-claro: #fff4d6;
    --laranja-claro-hover: #fcb094;
    --alto-contraste-fundo: #000000;
    --alto-contraste-texto: #ffffff;
    --alto-contraste-link: #ffd700;
    --btns-acess: #a182c5; 
    --btns-acess-hover: #7a69c1; 
    --color-main: #f9c043;
    --color-secondary: #f28c00;
    --font-color-main: #000;
    --font-color-secondary: #fff;
    --background-main: #fff;
    --blue-ranni: #5579a9;
    --blue-ranni-hover: #8eacce;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: 'Montserrat';
    background-color: var(--background-main);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    height: 100dvh;
}

.nav-link {
    color: var(--color-main);
    font-weight: 600;
}

.nav-link:hover {
    color: var(--color-secondary);
}

.nav-img {
    width: 15dvh;
}

.inicio-fundo {
    background-image: url('assets/img/trina.webp');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    width: 100%;
    height: 606px;
    margin: 0 auto;
}

.img-inicio {
    position: absolute;
    right: 100px;
    top: 30rem;
    width: 20rem;
    height: auto;
    animation: 3.5s floating_efect ease-in-out infinite;
}


.esquerda-conteudo {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img_elden_ring_logo_2 {
    margin-left: 4dvw;
    width: 50%;
    border-radius: 16px;
}

.botao-inicio {
    background-color: var(--laranja-claro);
    color: var(--font-color-main);
    border-radius: 30px;
    border: none;
    width: 14em;
    height: 3em;
    align-content: center;
    transition: all 0.3s;
}

.botao-inicio:hover {
    background-color: var(--laranja-claro-hover);
}


#tropicalia {
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: url('img/flor.png') top right no-repeat,
        url('img/flor-esquerda.png') bottom left no-repeat;
    background-size: 180px 180px;
}

#tropicalia .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.secao-tropicalia h2 {
    font-family: 'Lemon', serif;
    font-size: 2.5em;
    font-style: normal;
    color: var(--blue-ranni);
}

.secao-tropicalia h2:hover {
    color: var(--blue-ranni-hover);
    transition: color 0.3s;
    cursor: help;
}


#galeria {
}

.fundo-galeria {
    background: url('img/flor-bottom-direita.png') bottom right no-repeat;
    background-size: 180px 180px;
}

#contato {
    background-size: cover;
    padding: 4rem 0;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    font-weight: bold;
}

.formulario button {
    background-color: var(--btns-acess);
    border: none;
    font-weight: bold;
}

.formulario button:hover {
    background-color: var(--btns-acess-hover);
}
.form-control {
    background-color: #F1EDEF;
}
.menu-acessibilidade{
    position: fixed;
    top:2rem;
    right:30px;
    z-index: 1000;
}

.bg-btn-color {
    background-color: var(--btns-acess);
}
.bg-btn-color:hover {
    background-color: var(--btns-acess-hover);
}

.rotacao-botao{
    transform: rotate(-90deg);
    transform-origin: right center;
}

.rotacao-botao:hover {
    background-color: var(--btns-acess-hover);
}

.opcoes-acessibilidade{
    margin-top:10px;
    display: flex;
    flex-direction: column;
}

.opcoes-acessibilidade button{
    margin: 2px;
    background-color: var(--btns-acess);
}

.opcoes-acessibilidade button:hover{
    background-color: var(--btns-acess-hover);
}
.apresenta-lista{
    display: none;
}

.alto-contraste{
    background-color: var(--alto-contraste-fundo);
    color: var(--alto-contraste-texto);
}

.alto-contraste header,
.alto-contraste footer,
.alto-contraste .formulario{
    background-color: var(--alto-contraste-fundo);
    color: var(--alto-contraste-texto);
}

.alto-contraste .nav-link{
    color: var(--alto-contraste-link);
}

.alto-contraste .botao-inicio,
.alto-contraste .formulario button,
.alto-contraste .btn-primary{
    background-color: var(--alto-contraste-link);
    color: var(--alto-contraste-fundo)
}

.alto-contraste #tropicalia {
    background: none;
}

.alto-contraste #galeria {
    background-color: var(--alto-contraste-fundo);
}
.alto-contraste .fundo-galeria {
    background: none;
}

@keyframes floating_efect {
    0% {
        transform: translateY(5%);
    }
    50% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(5%);
    }
}